<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.elektrobit.ebrace.resourceconsumptionanalysis">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.elektrobit.ebrace.viewer.channelsview.ChannelsView"
            icon="icons/channel.png"
            id="com.elektrobit.ebrace.viewer.channelsview.ChannelsView"
            name="Channels"
            restorable="true">
      </view>
      <view
            class="com.elektrobit.ebrace.viewer.channelsview.SlidingWindowView"
            id="com.elektrobit.ebrace.viewer.slidingWindow"
            name="Sliding Window"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.elektrobit.ebrace.viewer.channelsview.createTableFromChannels"
            name="Show In Table">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.channelsview.createChartFromChannels"
            name="Show In Chart">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.channelsview.createEventMapFromChannels"
            name="Show In Snapshot [PRO]">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.channelsview.copyToScript"
            name="Copy for usage in script">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.elektrobit.ebrace.viewer.channelsview.handler.CreateNewTableFromSelectedChannelsHandler"
            commandId="com.elektrobit.ebrace.viewer.channelsview.createTableFromChannels">
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.channelsview.handler.CreateNewChartFromSelectedChannelsHandler"
            commandId="com.elektrobit.ebrace.viewer.channelsview.createChartFromChannels">
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.channelsview.handler.CreateNewEventMapFromSelectedChannelsHandler"
            commandId="com.elektrobit.ebrace.viewer.channelsview.createEventMapFromChannels">
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.channelsview.handler.CopyToScriptHandler"
            commandId="com.elektrobit.ebrace.viewer.channelsview.copyToScript">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.elektrobit.ebrace.viewer.channelsview.toolbar">
         <command
               commandId="com.elektrobit.ebrace.viewer.lockTable"
               label="Lock Table"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="com.elektrobit.ebrace.viewer.tablelockstate.active">
                  <equals
                        value="UNLOCKED">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.unlockTable"
               label="Unlock Table"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="com.elektrobit.ebrace.viewer.tablelockstate.active">
                  <equals
                        value="LOCKED">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.elektrobit.ebrace.viewer.ChannelsView.contextmenu">
         <command
               commandId="com.elektrobit.ebrace.viewer.channelsview.createTableFromChannels"
               style="push">
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.channelsview.createChartFromChannels"
               style="push">
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.channelsview.createEventMapFromChannels"
               style="push">
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.channelsview.copyToScript"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.elektrobit.ebrace.viewer.channelsview.createTableFromChannels"
            icon="icons/table_add.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.channelsview.createChartFromChannels"
            icon="icons/chart_line_add.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.channelsview.createEventMapFromChannels"
            icon="icons/snapshot_add.png">
      </image>
   </extension>

</plugin>
