<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.elektrobit.ebrace.viewer.common.chart.handler.EditChartModelHandler"
            commandId="com.elektrobit.ebrace.viewer.resources.selectChannels">
         <activeWhen>
            <or>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.chart.ChartModel">
                     </instanceof>
                  </iterate>
               </with>
               <and>
                  <with
                        variable="activePartId">
                     <equals
                           value="com.elektrobit.ebrace.chartEngine.chartEditor">
                     </equals>
                  </with>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="com.elektrobit.ebrace.chartEngine.chartEditor">
                     </equals>
                  </with>
               </and>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.common.chart.handler.EditTimelineViewModelHandler"
            commandId="com.elektrobit.ebrace.viewer.resources.selectChannels">
         <activeWhen>
            <or>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.timelineview.TimelineViewModel">
                     </instanceof>
                  </iterate>
               </with>
               <and>
                  <with
                        variable="activePartId">
                     <equals
                           value="com.elektrobit.ebrace.chartEngine.timelineViewEditor">
                     </equals>
                  </with>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="com.elektrobit.ebrace.chartEngine.timelineViewEditor">
                     </equals>
                  </with>
               </and>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         id="*"
         name="Play Pause command"
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:chartList.menu.new">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
   </extension>

</plugin>
