<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.elektrobit.ebrace.viewer.common.timemarker.handler.IsAnyTimeMarkerExistent"
            id="com.elektrobit.ebrace.viewer.common.clearTimeMarkers"
            namespace="com.elektrobit.ebrace.viewer.common.clearTimeMarkers"
            properties="isAnyTimelineExistent"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.elektrobit.ebrace.viewer.common.timemarker.handler.IsTimeMarkerCreatable"
            id="com.elektrobit.ebrace.viewer.common.createTimeLine"
            namespace="com.elektrobit.ebrace.viewer.common.createTimeLine"
            properties="isTimeMarkerCreatable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.elektrobit.ebrace.viewer.common.timemarker.handler.IsTimeMarkerVisibleTester"
            id="com.elektrobit.ebrace.viewer.common.timemarker.isTimeMarkerVisible"
            namespace="com.elektrobit.ebrace.viewer.common.timemarker.isTimeMarkerVisible"
            properties="isTimeMarkerVisible"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.elektrobit.ebrace.viewer.common.clearTimeMarkers"
            icon="icons/timemarker_remove_all.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.common.timemarker.createTimeMarker"
            icon="icons/timemarker_add.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.common.timemarker.hideAllMarkers"
            icon="icons/timemarker_toggle_visibility.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.common.timemarker.goToTimeMarker"
            icon="icons/timemarker_goto.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.common.timemarker.toggleVisibility"
            icon="icons/timemarker_toggle_visibility.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.elektrobit.ebrace.viewer.common.clearTimeMarkers"
            name="Clear all Timemarkers">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.common.timemarker.createTimeMarker"
            name="Create Marker">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.common.timemarker.hideAllMarkers"
            name="Hide All Markers">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.common.timemarker.goToTimeMarker"
            name="Go To">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.common.timemarker.toggleVisibility"
            name="Toggle Visibility">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.elektrobit.ebrace.viewer.common.timemarker.handler.ClearAllTimeMarkerHandler"
            commandId="com.elektrobit.ebrace.viewer.common.clearTimeMarkers">
         <enabledWhen>
            <test
                  property="com.elektrobit.ebrace.viewer.common.clearTimeMarkers.isAnyTimelineExistent"
                  value="isAnyTimelineExistent">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.common.timemarker.handler.CreateTimeMarkerHandler"
            commandId="com.elektrobit.ebrace.viewer.common.timemarker.createTimeMarker">
         <activeWhen>
            <and>
               <test
                     property="com.elektrobit.ebrace.viewer.common.createTimeLine.isTimeMarkerCreatable"
                     value="isTimeMarkerCreatable">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.common.timemarker.handler.RenameTimeMarkerHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <and>
               <test
                     property="com.elektrobit.ebrace.viewer.common.clearTimeMarkers.isAnyTimelineExistent"
                     value="isAnyTimelineExistent">
               </test>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebsolys.core.targetdata.api.timemarker.TimeMarker">
                     </instanceof>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.common.timemarker.handler.DeleteTimeMarkerHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <test
                     property="com.elektrobit.ebrace.viewer.common.clearTimeMarkers.isAnyTimelineExistent"
                     value="isAnyTimelineExistent">
               </test>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebsolys.core.targetdata.api.timemarker.TimeMarker">
                     </instanceof>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.common.timemarker.handler.HideAllTimeMarkersHandler"
            commandId="com.elektrobit.ebrace.viewer.common.timemarker.hideAllMarkers">
         <enabledWhen>
            <test
                  property="com.elektrobit.ebrace.viewer.common.clearTimeMarkers.isAnyTimelineExistent"
                  value="isAnyTimelineExistent">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.common.timemarker.handler.GoToTimeMarkerHandler"
            commandId="com.elektrobit.ebrace.viewer.common.timemarker.goToTimeMarker">
         <activeWhen>
            <and>
               <test
                     property="com.elektrobit.ebrace.viewer.common.timemarker.isTimeMarkerVisible.isTimeMarkerVisible"
                     value="isTimeMarkerVisible">
               </test>
               <test
                     property="com.elektrobit.ebrace.viewer.common.clearTimeMarkers.isAnyTimelineExistent"
                     value="isAnyTimelineExistent">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.common.timemarker.handler.ToggleVisibilityHandler"
            commandId="com.elektrobit.ebrace.viewer.common.timemarker.toggleVisibility">
         <activeWhen>
            <and>
               <test
                     property="com.elektrobit.ebrace.viewer.common.clearTimeMarkers.isAnyTimelineExistent"
                     value="isAnyTimelineExistent">
               </test>
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="com.elektrobit.ebsolys.core.targetdata.api.timemarker.TimeMarker">
                     </instanceof>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.elektrobit.ebrace.resourceconsumptionanalysis">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.elektrobit.ebrace.viewer.common.timemarker.views.TimeMarkersView"
            icon="icons/timemarker.png"
            id="com.elektrobit.ebrace.viewer.common.timemarker.views.timemarkermanagerview"
            name="Time Markers"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.elektrobit.ebrace.viewer.timemarkermanager.toolbar">
         <command
               commandId="com.elektrobit.ebrace.viewer.common.timemarker.hideAllMarkers"
               style="push"
               tooltip="Toggle all timemarkers&apos; visibility">
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.common.clearTimeMarkers"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.elektrobit.ebrace.viewer.timemarkermanager.contextmenu">
         <command
               commandId="org.eclipse.ui.edit.rename"
               icon="icons/timemarker_rename.png"
               style="push">
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.common.timemarker.goToTimeMarker"
               style="push">
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.common.timemarker.toggleVisibility"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
