<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.elektrobit.ebrace.validation.preferences.ValidationToolPreferencePage"
            id="com.elektrobit.ebrace.validation.toolSettings"
            name="Validation Tool Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.elektrobit.ebrace.validation.preferences.ValidationToolPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.elektrobit.ebrace.validation.runValidation"
            name="Validate">
      </command>
      <command
            id="com.elektrobit.ebrace.validation.exportEvents"
            name="Export Events for validation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.elektrobit.ebrace.validation.handler.RunValidationHandler"
            commandId="com.elektrobit.ebrace.validation.runValidation">
         <activeWhen>
            <test
                  property="com.elektrobit.ebrace.viewer.common.exportEvents.isAnyTableContent"
                  value="isAnyTableContent">
            </test>
         </activeWhen>
      </handler>
      <handler
            class="com.elektrobit.ebrace.validation.handler.ExportDBusMessagesHandler"
            commandId="com.elektrobit.ebrace.validation.exportEvents">
         <activeWhen>
            <test
                  property="com.elektrobit.ebrace.viewer.common.exportEvents.isAnyTableContent"
                  value="isAnyTableContent">
            </test>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.elektrobit.ebrace.validation.runValidation"
            icon="icons/DANA_icon16.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:runtimeEventLogger.menu">
         <command
               commandId="com.elektrobit.ebrace.validation.runValidation"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:runtimeEvents.export">
         <command
               commandId="com.elektrobit.ebrace.validation.exportEvents"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:comrelation.runtime.events.menu">
         <command
               commandId="com.elektrobit.ebrace.validation.runValidation"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
