<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.elektrobit.ebrace.chartType" name="EB Race Chart Type" schema="schema/com.elektrobit.ebrace.chartType.exsd"/>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.elektrobit.ebrace.resourceconsumptionanalysis">
      </perspectiveExtension>
   </extension>
   <extension
         name="View Toolbar Contributions"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.elektrobit.ebrace.viewer.chartengine.ChartView">
         <command
               commandId="com.elektrobit.ebrace.viewer.runtimeeventlogger.clearselection"
               style="push"
               tooltip="Clear Runtime Event Logger Selection">
            <parameter
                  name="com.elektrobit.ebrace.viewer.runtimeeventlogger.action"
                  value="clear">
            </parameter>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.runtimeeventlogger.clearselection"
               icon="icons/goto_input.gif"
               style="push"
               tooltip="Jump To Runtime Event Logger Selection">
            <parameter
                  name="com.elektrobit.ebrace.viewer.runtimeeventlogger.action"
                  value="gotoselection">
            </parameter>
         </command>
       </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:chartView.tab">
         <command
               commandId="com.elektrobit.ebrace.ui.ecl.preferences.commands.PlayChart"
               style="push"
               tooltip="Jump to Latest Data">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="com.elektrobit.ebrace.ui.ecl.preferences.running.state">
                  <equals
                        value="CHART_PAUSING">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.ui.ecl.preferences.commands.PauseChart"
               style="push"
               tooltip="Pause Data and Analyse">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="com.elektrobit.ebrace.ui.ecl.preferences.running.state">
                  <equals
                        value="CHART_RUNNING">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:runtimeEventLogger.menu">
         <command
               commandId="com.elektrobit.ebrace.viewer.common.timemarker.createTimeMarker"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:chartEditor.legend.contextMenu">
         <command
               commandId="org.eclipse.ui.edit.delete"
               icon="icons/remove.png"
               label="Remove"
               style="push">
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.chartengine.toggleVisibilityChannel"
               icon="icons/channel_show_hide.png"
               label="Show/Hide"
               style="push">
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.chartengine.removeOtherChannels"
               icon="icons/channel_remove_others.png"
               label="Remove Others"
               style="push">
         </command>
      </menuContribution>
        <menuContribution
            allPopups="false"
            locationURI="toolbar:chartEditorToolBar">
           <command
                 commandId="com.elektrobit.ebrace.viewer.chartengine.analysisTimespan.decrease"
                 style="push">
           </command>
         <control
               class="com.elektrobit.ebrace.viewer.chartengine.internal.toolbar.AnalysisTimespanWindowContribution">
         </control>
         <command
               commandId="com.elektrobit.ebrace.viewer.chartengine.analysisTimespan.increase"
               style="push">
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.selectChannels"
               style="push">
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.createTableFromChart"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:canvasContextMenu">
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.selectChannels"
               style="push">
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.createTableFromChart"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="com.elektrobit.ebrace.viewer.common.view.IResourcesModelView">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="com.elektrobit.ebrace.viewer.resources.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="com.elektrobit.ebrace.viewer.common.view.IResourcesModelView">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.elektrobit.ebrace.viewer.chartengine.timelineview.menu">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="*"
         name="Play Pause command"
         point="org.eclipse.ui.commands">
      <command
            id="com.elektrobit.ebrace.viewer.chartengine.toggleVisibilityChannel"
            name="Toggle Channel Visibillity">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.chartengine.analysisTimespan.decrease"
            name="Decrease Analysis Timespan">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.chartengine.analysisTimespan.increase"
            name="Increase Analysis Timespan">
      </command>
  </extension> 
  <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.elektrobit.ebrace.viewer.chartengine.internal.handler.ToggleChannelVisibillityHandler"
            commandId="com.elektrobit.ebrace.viewer.chartengine.toggleVisibilityChannel">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.elektrobit.ebrace.chartEngine.chartEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.chartengine.internal.handler.DeleteChannelFromChartHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.elektrobit.ebrace.chartEngine.chartEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.chartengine.internal.handler.RemoveOtherChannelsHandler"
            commandId="com.elektrobit.ebrace.viewer.chartengine.removeOtherChannels">
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.chartengine.internal.handler.DecreaseAnalysisTimespanHandler"
            commandId="com.elektrobit.ebrace.viewer.chartengine.analysisTimespan.decrease">
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.chartengine.internal.handler.IncreaseAnalysisTimespanHandler"
            commandId="com.elektrobit.ebrace.viewer.chartengine.analysisTimespan.increase">
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.chartengine.internal.handler.DeleteChannelFromTimelineViewHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <with
                     variable="activePartId">
                  <equals
                        value="com.elektrobit.ebrace.chartEngine.timelineViewEditor">
                  </equals>
               </with>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.tracecompass.tmf.ui.widgets.timegraph.model.TimeGraphEntry">
                     </instanceof>
                  </iterate>
               </with></and>
         </activeWhen>
      </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commandImages">
     <image
           commandId="com.elektrobit.ebrace.viewer.runtimeeventlogger.clearselection"
           icon="icons/search_clear.png">
     </image>
     <image
           commandId="com.elektrobit.ebrace.viewer.chartengine.analysisTimespan.decrease"
           icon="icons/minus.png">
     </image>
     <image
           commandId="com.elektrobit.ebrace.viewer.chartengine.analysisTimespan.increase"
           icon="icons/plus.png">
     </image>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="com.elektrobit.ebrace.ui.ecl.preferences.commands.PlayChart"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="CTRL+R">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="com.elektrobit.ebrace.viewer.chartengine.internal.handler.SelectionHandler"
           id="com.elektrobit.ebrace.viewer.runtimeeventlogger.clearselection"
           name="Clear Selection">
        <commandParameter
              id="com.elektrobit.ebrace.viewer.runtimeeventlogger.action"
              name="RuntimeEventLoggerCommandParameter"
              optional="false">
        </commandParameter>
     </command>
     <command
           id="com.elektrobit.ebrace.viewer.chartengine.removeOtherChannels"
           name="Remove Others">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="com.elektrobit.ebrace.viewer.chartengine.internal.ChartEditor"
           default="false"
           icon="icons/chart_line.png"
           id="com.elektrobit.ebrace.chartEngine.chartEditor"
           name="Chart Editor">
     </editor>
     <editor
           class="com.elektrobit.ebrace.viewer.chartengine.internal.timeline.TimelineViewEditor"
           default="false"
           icon="icons/chart_gantt.png"
           id="com.elektrobit.ebrace.chartEngine.timelineViewEditor"
           name="Timeline View Editor">
     </editor>
  </extension>
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           class="com.elektrobit.ebrace.viewer.chartengine.internal.properties.LineChartPropertyPage"
           id="com.elektrobit.ebrace.viewer.chartengine.lineChartProperties"
           name="Line Chart Settings">
     </page>
  </extension>
</plugin>
