<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.elektrobit.ebrace.ui.ecl.browser.BrowserEditor"
            default="false"
            icon="icons/race-browser.png"
            id="com.elektrobit.ebrace.ui.ecl.browser.editor"
            name="Example">
      </editor>
   </extension>

</plugin>
