<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.elektrobit.ebrace.viewer.script.createNewScript"
            name="New Script [PRO]">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.script.RunScriptMethodMenu"
            name="Run Script">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.script.importScript"
            name="Import Script [PRO]">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.script.exportScript"
            name="Export Script">
      </command>
      <command
            id="com.elektrobit.ebrace.ui.ecl.file.opendemofile"
            name="OpenDemoFileCommand">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.script.runtimeperspective"
            name="Runtime">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.script.scriptperspective"
            name="Scripting">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.script.quickstartview"
            name="Quick Start">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.elektrobit.ebrace.viewer.script.handler.CreateScriptHandler"
            commandId="com.elektrobit.ebrace.viewer.script.createNewScript">
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.script.handler.DeleteScriptHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <test
                     property="com.elektrobit.ebrace.viewer.resources.isEditable.isEditable"
                     value="isEditable">
               </test>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.script.RaceScriptResourceModel">
                     </instanceof>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.script.handler.ImportScriptHandler"
            commandId="com.elektrobit.ebrace.viewer.script.importScript">
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.script.handler.ExportScriptHandler"
            commandId="com.elektrobit.ebrace.viewer.script.exportScript">
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.script.handler.OpenDemoFileHandler"
            commandId="com.elektrobit.ebrace.ui.ecl.file.opendemofile">
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.script.handler.RuntimePerspectiveViewerHandler"
            commandId="com.elektrobit.ebrace.viewer.script.runtimeperspective">
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.script.handler.ScriptPerspectiveViewerHandler"
            commandId="com.elektrobit.ebrace.viewer.script.scriptperspective">
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.script.handler.QuickStartViewHandler"
            commandId="com.elektrobit.ebrace.viewer.script.quickstartview">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:chartList.menu.new">
         <command
               commandId="com.elektrobit.ebrace.viewer.script.createNewScript"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:chartList.menu">
         <command
               commandId="com.elektrobit.ebrace.viewer.script.importScript"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.ResourcesFolder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.script.exportScript"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.elektrobit.ebrace.core.interactor.api.resources.model.script.RaceScriptResourceModel">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="com.elektrobit.ebrace.viewer.script.runScriptSeparator1"
               visible="false">
         </separator>
         <dynamic
               class="com.elektrobit.ebrace.viewer.script.handler.RunScriptDynamicMenu"
               id="com.elektrobit.ebrace.viewer.script.RunScriptMethodMenu">
         </dynamic>
         <command
               commandId="com.elektrobit.ebrace.targetadapter.communicator.command.openracefile"
               label="Open File..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.ResourcesFolder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <menu
               id="openRecent"
               label="Recent Files">
            <dynamic
                  class="com.elektrobit.ebrace.ui.ecl.file.RecentFilesDynamicMenu"
                  id="com.elektrobit.ebrace.application.loadOfflineFileDynamicMenu">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.resources.model.ResourcesFolder">
                        </instanceof>
                     </iterate>
                  </with>
            </visibleWhen>
         </menu>
      </menuContribution>
         <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.elektrobit.ebrace.application.saveToolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <instanceof
                           value="org.eclipse.ui.texteditor.AbstractDecoratedTextEditor">
                     </instanceof>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <instanceof
                           value="org.eclipse.ui.texteditor.AbstractDecoratedTextEditor">
                     </instanceof>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:com.elektrobit.ebrace.viewer.timemarkermanager.contextmenu">
            <dynamic
                  class="com.elektrobit.ebrace.viewer.script.handler.RunScriptFromContextDynamicMenu"
                  id="com.elektrobit.ebrace.viewer.script.RunScriptFromContextMenu">
            </dynamic>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:com.elektrobit.ebrace.viewer.channelsview.contextmenu">
            <dynamic
                  class="com.elektrobit.ebrace.viewer.script.handler.RunScriptFromContextDynamicMenu"
                  id="com.elektrobit.ebrace.viewer.script.RunScriptFromContextMenu">
            </dynamic>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:com.elektrobit.ebrace.tableEngine.tableEditor">
            <dynamic
                  class="com.elektrobit.ebrace.viewer.script.handler.RunScriptFromContextDynamicMenu"
                  id="com.elektrobit.ebrace.viewer.script.RunScriptFromContextMenu">
            </dynamic>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:com.elektrobit.ebrace.viewer.ChannelsView.contextmenu">
            <dynamic
                  class="com.elektrobit.ebrace.viewer.script.handler.RunScriptFromContextDynamicMenu"
                  id="com.elektrobit.ebrace.viewer.script.RunScriptFromContextMenu">
            </dynamic>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:comrelation.runtime.events.menu">
            <dynamic
                  class="com.elektrobit.ebrace.viewer.script.handler.RunScriptFromContextDynamicMenu"
                  id="com.elektrobit.ebrace.viewer.script.RunScriptFromContextMenu">
            </dynamic>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.elektrobit.ebrace.viewer.script.createNewScript"
            icon="icons/script_new.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.script.importScript"
            icon="icons/script_import.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.script.exportScript"
            icon="icons/script_export.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.targetadapter.communicator.command.openracefile"
            icon="icons/file_solys.png">
      </image>
   </extension>
<extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:comrelation.runtime.events.menu">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>

</plugin>
