<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.xtext.ui.shared.xtextNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.elektrobit.ebrace.ui.console.scriptcompiler.impl.XtendProjectNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.xtext.ui.shared.xtextBuilder">
      </builder>
   </extension>
 <!--  <extension
         id="org.eclipse.xtext.ui.shared.xtextBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.elektrobit.ebrace.ui.console.scriptcompiler.impl.ScriptProjectXtendGenerator">
         </run></builder>
   </extension>
-->
</plugin>
