<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.elektrobit.ebrace.viewer.preferences.page.GlobalLineChartSettingsPreferencePage"
            id="com.elektrobit.ebrace.viewer.preferences.chartsettingspreferences"
            name="Line Chart Settings ">
      </page>
   </extension>

</plugin>
