<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.elektrobit.ebrace.viewer.runtimeeventloggertable.editor.RuntimeEventLoggerTableEditor"
            default="false"
            icon="icons/table.png"
            id="com.elektrobit.ebrace.tableEngine.tableEditor"
            name="Event Logger Table">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.elektrobit.ebrace.viewer.runtimeeventloggertable.handler.EditTableHandler"
            commandId="com.elektrobit.ebrace.viewer.resources.selectChannels">
         <activeWhen>
            <or>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.table.TableModel">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="true">
                     <instanceof
                           value="com.elektrobit.ebsolys.core.targetdata.api.runtime.eventhandling.RuntimeEvent">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="com.elektrobit.ebrace.tableEngine.tableEditor">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="com.elektrobit.ebrace.viewer.runtimeeventloggertable.handler.CopyTableContentToClipboardHandler"
            commandId="org.eclipse.ui.edit.copy">
      	 <activeWhen>
      	 	 <with
                     variable="activePartId">
                  <equals
                        value="com.elektrobit.ebrace.tableEngine.tableEditor">
                  </equals>
               </with>
      	 </activeWhen>
      </handler>
   
   </extension>
  
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:chartList.menu.new">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.elektrobit.ebrace.tableEngine.tableEditor">
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.selectChannels"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebsolys.core.targetdata.api.runtime.eventhandling.RuntimeEvent">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.createChartFromTable"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebsolys.core.targetdata.api.runtime.eventhandling.RuntimeEvent">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="com.elektrobit.ebrace.viewer.runtimeeventloggertable.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.elektrobit.ebrace.viewer.common.timemarker.createTimeMarker"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebsolys.core.targetdata.api.runtime.eventhandling.RuntimeEvent">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="com.elektrobit.ebrace.viewer.runtimeeventloggertable.separator3"
               visible="true">
         </separator>
         <command
               commandId="com.elektrobit.ebrace.viewer.common.timemarker.toggleVisibility"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebsolys.core.targetdata.api.timemarker.TimeMarker">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebsolys.core.targetdata.api.timemarker.TimeMarker">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               icon="icons/copy.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="toolbar:com.elektrobit.ebrace.viewer.runtimeeventloggertable.toolbar">
            <command
                  commandId="com.elektrobit.ebrace.viewer.resources.selectChannels"
                  style="push">
            </command>
            <command
                  commandId="com.elektrobit.ebrace.viewer.resources.createChartFromTable"
                  style="push">
            </command>
         </menuContribution>
      </extension>
</plugin>
