<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>
   <extension
         id="com.elektrobit.ebrace.application.client"
         name="EB solys"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.elektrobit.ebrace.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.elektrobit.ebrace.application.RuntimePerspectivePerspectiveFactory"
            icon="icons/runtime_perspective.png"
            id="com.elektrobit.ebrace.resourceconsumptionanalysis"
            name="Runtime">
      </perspective>
      <perspective
            class="com.elektrobit.ebrace.application.ScriptingManagementPerspective"
            icon="icons/script.png"
            id="com.elektrobit.ebrace.application.scripting.perspective"
            name="Scripting">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.elektrobit.ebrace.application.scripting.perspective">
         <view
               closeable="false"
               id="com.elektrobit.ebrace.viewer.resourceExplorer"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.7"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <menu
                  label="New">
               <command
                     commandId="com.elektrobit.ebrace.viewer.connection.newconnection"
                     label="Connection"
                     style="push">
               </command>
               <command
                     commandId="com.elektrobit.ebrace.viewer.script.createNewScript"
                     label="Script [PRO]"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="com.elektrobit.ebrace.application.loadTargetConfig"
                  label="Load Target Configuration [experimental]"
                  style="push">
            </command>
            <command
                  commandId="com.elektrobit.ebrace.targetadapter.communicator.command.openracefile"
                  label="Open File..."
                  style="push">
            </command>
            <menu
                  id="openRecent"
                  label="Recent Files">
               <dynamic
                     class="com.elektrobit.ebrace.ui.ecl.file.RecentFilesDynamicMenu"
                     id="com.elektrobit.ebrace.application.loadOfflineFileDynamicMenu">
               </dynamic>
            </menu>
            <command
                  commandId="com.elektrobit.ebrace.ui.ecl.file.opendemofile"
                  label="Open Demo File"
                  style="push">
            </command>
            <command
                  commandId="com.elektrobit.ebrace.ui.ecl.preferences.clearAllData"
                  label="Clear all data"
                  style="push">
            </command>
            <separator
                  name="com.elektrobit.ebrace.application.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="com.elektrobit.ebrace.viewer.script.importScript"
                  label="Import Script [PRO]"
                  style="push">
            </command>
            <separator
                  name="com.elektrobit.ebrace.application.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  label="Restart"
                  style="push">
            </command>
            <command
                  commandId="com.elektrobit.ebrace.viewer.Exit"
                  label="Exit"
                  style="push"
                  tooltip="Exits the Application">
            </command>
         </menu>
         <menu
               id="fileWindow"
               label="Window">
            <menu
                  label="Open Perspective">
               <command
                     commandId="com.elektrobit.ebrace.viewer.script.runtimeperspective"
                     icon="icons/runtime_perspective.png"
                     label="Runtime"
                     style="push">
               </command>
               <command
                     commandId="com.elektrobit.ebrace.viewer.script.scriptperspective"
                     icon="icons/script.png"
                     label="Scripting"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  label="Default Layout"
                  style="push"
                  tooltip="Switch to default layout">
            </command>
            <separator
                  name="com.elektrobit.ebrace.application.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="com.elektrobit.ebrace.viewer.UserFeedback"
                  label="User Feedback"
                  style="push">
            </command>
            <command
                  commandId="com.elektrobit.ebrace.viewer.script.quickstartview"
                  label="Quick Start"
                  style="push">
            </command>
           
            <command
                  commandId="com.elektrobit.ebrace.viewer.ShowAbout"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
       </extension>
<extension
      id="product_application"
      point="org.eclipse.core.runtime.products">
   <product
         application="com.elektrobit.ebrace.application.client"
         name="EB solys">
      <property
            name="windowImages"
            value="platform:/plugin/com.elektrobit.ebrace.viewer/icons/window_images/window_image_16.png,platform:/plugin/com.elektrobit.ebrace.viewer/icons/window_images/window_image_32.png,platform:/plugin/com.elektrobit.ebrace.viewer/icons/window_images/window_image_48.png,platform:/plugin/com.elektrobit.ebrace.viewer/icons/window_images/window_image_64.png,platform:/plugin/com.elektrobit.ebrace.viewer/icons/window_images/window_image_128.png">
      </property>
      <property
            name="aboutText"
            value="Elektrobit Automotive GmbH&#x0A;Driving the future of automotive software&#x0A;&#x0A;Am Wolfsmantel 46,&#x0A;91058 Erlangen,&#x0A;Germany&#x0A;&#x0A;E-Mail: ebsolys@elektrobit.com&#x0A;Web: http://www.elektrobit.com&#x0A;&#x0A;Build-Info:&#x0A;Revision:  r{1}&#x0A;Build-TAG: {2}&#x0A;&#x0A;Copyright © 2018 Elektrobit Automotive GmbH&#x0A;  &#x0A;This program and the accompanying materials are made&#x0A;available under the terms of the Eclipse Public License 2.0&#x0A;which is available at https://www.eclipse.org/legal/epl-2.0/&#x0A; &#x0A;SPDX-License-Identifier: EPL-2.0&#x0A;&#x0A;EB solys may be used for analyzing complex software systems. &#x0A;The use of the software does not ensure or guarantee compliance with safety requirements nor the correctness and freedom from errors.&#x0A;It should be used by experienced software engineers.">
      </property>
      <property
            name="aboutImage"
            value="platform:/plugin/com.elektrobit.ebrace.viewer/icons/window_images/eb-race-logo-about-64.png">
      </property>
      <property
            name="applicationCSS"
            value="platform:/plugin/com.elektrobit.ebrace.application/ebrace.css">
      </property>
      <property
            name="appName"
            value="EB solys">
      </property>
   </product>
</extension>
<extension
      point="org.eclipse.ui.splashHandlers">
   <splashHandler
         class="com.elektrobit.ebrace.application.splashHandlers.ExtensibleSplashHandler"
         id="com.elektrobit.ebrace.application.splashHandlers.extensible">
   </splashHandler>
   <splashHandlerProductBinding
         productId="com.elektrobit.ebrace.application.product_application"
         splashId="com.elektrobit.ebrace.application.splashHandlers.extensible">
   </splashHandlerProductBinding>
</extension>
<extension
         point="org.eclipse.ui.activities">
      <activity
            id="disable.contributions"
            name="disable contributions">
         <enabledWhen>
            <count
                  value="-1">
            </count>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.team.ui">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.pde.ui/org.eclipse.pde.ui.PDEPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="false"
            pattern=".*/org.eclipse.linuxtools.tmf.ui.perspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.ide.application/org.eclipse.ui.resourcePerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.pde.ui">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.pde.launching/org.eclipse.pde.ui.RuntimeWorkbench">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.pde.launching/org.eclipse.pde.ui.JunitLaunchConfig">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.jdt.launching/org.eclipse.jdt.launching.javaApplet">
      </activityPatternBinding>
       <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.jdt.launching/org.eclipse.jdt.launching.localJavaApplication">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.jdt.launching/org.eclipse.jdt.junit.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.pde.launching/org.eclipse.pde.ui.EquinoxLauncher">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.jdt.junit.core/org.eclipse.jdt.junit.launchconfig">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.jdt.launching/org.eclipse.jdt.launching.remoteJavaApplication">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disable.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.modisco.infra.discovery.ui/org.eclipse.modisco.infra.discovery.launchConfigurationType">
      </activityPatternBinding>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.search.*"> 
   </activityPatternBinding>
   <activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.debug.ui/org.eclipse.debug.internal.ui.importexport.breakpoints.WizardImportBreakpoints"/>
   <activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.debug.ui/org.eclipse.debug.ui.import.launchconfigurations"/>
   <activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.debug.ui/org.eclipse.debug.internal.ui.importexport.breakpoints.WizardExportBreakpoints"/>
   <activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.debug.ui/org.eclipse.debug.ui.export.launchconfigurations"/>
   <activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.debug.ui/org.eclipse.debug.ui.DebugPreferencePage"/>
   <activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.debug.ui/org.eclipse.debug.ui.MemoryView"/>
   <activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.debug.ui/org.eclipse.debug.ui.ModuleView"/>
   <activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.debug.ui/org.eclipse.debug.ui.RegisterView"/>
   <activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.*"/>
   <activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.debug.*"/>
      

   
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.editors.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.externaltools.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.team.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.team.ui/org.eclipse.team.ui.GenericHistoryView"/>

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.pde.ui.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.pde.runtime.*"/>

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ant.ui.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.ide/org.eclipse.ui.views.BookmarkView"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.ide/org.eclipse.ui.views.AllMarkersView"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.ide/org.eclipse.ui.views.ResourceNavigator"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.ide/org.eclipse.ui.views.TaskList"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.project"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.import.Preferences"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.import.FileSystem"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.export.Preferences"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.export.FileSystem"/>

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.equinox.p2.ui.importexport.*"/>
 

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.navigator.resources/org.eclipse.ui.navigator.ProjectExplorer"/>

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.pde.api.tools.ui/org.eclipse.pde.api.tools.ui.views.apitooling.views.apitoolingview"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.cheatsheets.*"/>

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.help.ui.*"/>

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.MembersView"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.PackagesView"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.ProjectsView"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.TypesView"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.SourceView"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.JavaHierarchyPerspective"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.internal.ui.jarpackager.JarPackageWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.internal.ui.fatjarpackager.JarPackageWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.internal.ui.javadocexport.JavadocWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.JavaActionSet"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.java"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui/org.eclipse.ui.navigate.showIn.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui/org.eclipse.ui.views.showView.viewId"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui/org.eclipse.ui.window.showSystemMenu"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui/org.eclipse.ui.window.showViewMenu"/>


<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewClassCreationWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewEnumCreationWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.wizards.NewAnnotationCreationWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.actions.OpenPackageWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.actions.OpenProjectWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.actions.NewTypeDropDown"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/openType"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.edit.text.java.gotoBreadcrumb"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.commands.showElementInPackageView"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.commands.showElementInTypeHierarchyView"/>




<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.junit/org.eclipse.jdt.junit.wizards.NewTestCaseCreationWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.junit/org.eclipse.jdt.junit.wizards.NewTestSuiteCreationWizard"/>


<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.debug.ui/org.eclipse.jdt.debug.ui.snippetEditor.NewSnippetFileCreationWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.debug.ui/org.eclipse.jdt.debug.ui.DisplayView"/>

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.pde.ds.ui.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.pde.ua.ui.*"/>


<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.emf.ecore.editor/org.eclipse.emf.ecore.presentation.EcoreModelWizardID"/>



<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.junit/org.eclipse.jdt.junit.ResultView"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.jdt.ui/org.eclipse.ui.texteditor.TemplatesView"/>


<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.xtext.xtext.ui/org.eclipse.xtext.Xtext"/>

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.gef/org.eclipse.gef.ui.palette_view"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.xtext.xtext.ui.graph/org.eclipse.xtext.xtext.ui.graph.view"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.xtend.ide/org.eclipse.xtend.ide.view.DerivedSourceView"/>

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.views/org.eclipse.ui.views.PropertySheet"/>


<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.xtext.xtext.ui/org.eclipse.xtext.xtext.ui.wizard.project.NewXtextProjectWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.xtext.xtext.ui/org.eclipse.xtext.xtext.ui.wizard.ecore2xtext.NewXtextProjectFromEcoreWizard"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.xtext.xtext.ui/org.eclipse.xtext.xtext.ui.wizard.releng.NewRelengProjectWizard"/>

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.emf.mwe2.launch.*"/>

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.emf.common.ui/org.eclipse.emf.common.ui.*"/>

<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.views.log.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.browser.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.ide/org.eclipse.ui.preferencePages.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.equinox.p2.ui.sdk.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.ui.ide/org.eclipse.ui.Examples"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.xtend.examples.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.xtext.xtext.ui.examples.*"/>
<activityPatternBinding
      activityId="disable.contributions"
      pattern="org.eclipse.jdt.ui/org.eclipse.jdt.ui.JavaPerspective">
</activityPatternBinding>
<activityPatternBinding
      activityId="disable.contributions"
      pattern="com.elektrobit.ebrace.application.activityPatternBinding2">
</activityPatternBinding>xamples.*"/>
<activityPatternBinding activityId="disable.contributions" pattern="org.eclipse.xtext.xtext.ui.examples.*"/>



      </extension>
<extension
      id="product_application"
      point="org.eclipse.core.runtime.products">
   <product
         application="com.elektrobit.ebrace.application.client"
         name="EB SOLYS">
      <property
            name="windowImages"
            value="platform:/plugin/com.elektrobit.ebrace.viewer/icons/window_images/window_image_16.png,platform:/plugin/com.elektrobit.ebrace.viewer/icons/window_images/window_image_32.png,platform:/plugin/com.elektrobit.ebrace.viewer/icons/window_images/window_image_48.png,platform:/plugin/com.elektrobit.ebrace.viewer/icons/window_images/window_image_64.png,platform:/plugin/com.elektrobit.ebrace.viewer/icons/window_images/window_image_128.png">
      </property>
      <property
            name="aboutText"
            value="EB SOLYS&#x0A;&#x0A;&#x0A;Am Wolfsmantel 46,&#x0A;91058 Erlangen,&#x0A;Germany&#x0A;&#x0A;EB - Discover the Experience&#x0A;&#x0A;email: ebrace@elektrobit.com&#x0A;http://www.elektrobit.com&#x0A;&#x0A;Build-Info:&#x0A;Repos: {0}&#x0A;Revision:  r{1}&#x0A;Build-TAG: {2}&#x0A;&#x0A;© Copyright Elektrobit Automotive GmbH 2012-2014. All Rights Reserved.">
      </property>
      <property
            name="aboutImage"
            value="platform:/plugin/com.elektrobit.ebrace.viewer/icons/window_images/window_image_64.png">
      </property>
      <property
            name="appName"
            value="EB SOLYS">
      </property>
      <property
            name="applicationCSS"
            value="platform:/plugin/com.elektrobit.ebrace.application/ebrace.css">
      </property>
   </product>
</extension>
<extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension
         targetID="com.elektrobit.ebrace.application.scripting.perspective">
      <perspectiveShortcut
            id="com.elektrobit.ebrace.resourceconsumptionanalysis">
      </perspectiveShortcut>
   </perspectiveExtension>
</extension>
<extension
      point="org.eclipse.ui.splashHandlers">
   <splashHandler
         class="com.elektrobit.ebrace.application.splashHandlers.ExtensibleSplashHandler"
         id="com.elektrobit.ebrace.application.splashHandlers.extensible">
   </splashHandler>
   <splashHandlerProductBinding
         productId="com.elektrobit.ebrace.application.product_application"
         splashId="com.elektrobit.ebrace.application.splashHandlers.extensible">
   </splashHandlerProductBinding>
</extension>
<extension
      point="com.elektrobit.ebrace.application.splashExtension">
   <splashExtension
         icon="icons/af.png"
         id="af"
         tooltip="Application Framework">
   </splashExtension>
   <splashExtension
         icon="icons/embedded.png"
         id="embedded"
         tooltip="Embedded">
   </splashExtension>
   <splashExtension
         icon="icons/enterprise.png"
         id="enterprise"
         tooltip="Enterprise">
   </splashExtension>
   <splashExtension
         icon="icons/languages.png"
         id="languages"
         tooltip="Languages">
   </splashExtension>
   <splashExtension
         icon="icons/rcp.png"
         id="rcp"
         tooltip="RCP">
   </splashExtension>
</extension>
<extension
      point="org.eclipse.ui.activities">
   <activity
         id="com.elektrobit.ebrace.feature.type.beta"
         name="beta">
   </activity>
   <activityPatternBinding
         activityId="com.elektrobit.ebrace.feature.type.beta"
         pattern="com\.elektrobit\.ebrace\.application/com\.elektrobit\.ebrace\.application\.loadTargetConfig">
   </activityPatternBinding>
</extension>

</plugin>
