<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
     <view
            class="com.elektrobit.ebrace.viewer.resources.ResourceExplorerView"
            icon="icons/resource_explorer.png"
            id="com.elektrobit.ebrace.viewer.resourceExplorer"
            name="Resource Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.elektrobit.ebrace.viewer.resources.handler.DeleteResourceHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
              <with
                     variable="activePartId">
                  <equals
                        value="com.elektrobit.ebrace.viewer.resourceExplorer">
                  </equals>
               </with>
            
               <test
                     property="com.elektrobit.ebrace.viewer.resources.isEditable.isEditable"
                     value="isEditable">
               </test>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <not>
                           <instanceof
                                 value="com.elektrobit.ebrace.core.interactor.api.resources.model.script.RaceScriptResourceModel">
                           </instanceof>
                        </not>
                        <not>
                           <instanceof
                                 value="com.elektrobit.ebrace.core.interactor.api.resources.model.ResourcesFolder">
                           </instanceof>
                        </not>
                     </and>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.handler.OpenPreferencesHandler"
                commandId="org.eclipse.ui.file.properties">
             <activeWhen>
                <with
                      variable="activePart">
                   <instanceof
                         value="com.elektrobit.ebrace.viewer.common.view.IResourcesModelView">
                   </instanceof>
                </with>
             </activeWhen>
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.handler.RenameResourceHandler"
                commandId="org.eclipse.ui.edit.rename">
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.handler.CreateChartFromTableHandler"
                commandId="com.elektrobit.ebrace.viewer.resources.createChartFromTable">
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.handler.CreateTableFromChartHandler"
                commandId="com.elektrobit.ebrace.viewer.resources.createTableFromChart">
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.handler.CreateEventMapFromTableHandler"
                commandId="com.elektrobit.ebrace.viewer.resources.createEventMapFromTable">
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.handler.CreateEventMapFromChartHandler"
                commandId="com.elektrobit.ebrace.viewer.resources.createEventMapFromChart">
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.handler.CreateTableFromEventMapHandler"
                commandId="com.elektrobit.ebrace.viewer.resources.createTableFromEventMap">
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.handler.CreateChartFromEventMapHandler"
                commandId="com.elektrobit.ebrace.viewer.resources.createChartFromEventMap">
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.connection.NewConnectionHandler"
                commandId="com.elektrobit.ebrace.viewer.connection.newconnection">
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.connection.ConnectHandler"
                commandId="com.elektrobit.ebrace.viewer.resources.connect">
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.connection.DisconnectHandler"
                commandId="com.elektrobit.ebrace.viewer.resources.disconnect">
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.connection.EditHandler"
                commandId="com.elektrobit.ebrace.viewer.resources.edit">
             <activeWhen>
                <with
                      variable="com.elektrobit.ebrace.viewer.targetconnector.sourceprovider.active">
                   <equals
                         value="DISCONNECTED">
                   </equals>
                </with>
             </activeWhen>
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.connection.StartReadingHandler"
                commandId="com.elektrobit.ebrace.viewer.resources.startReading">
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.connection.ConnectHandler"
                commandId="com.elektrobit.ebrace.viewer.resources.connect">
          </handler>
          <handler
                class="com.elektrobit.ebrace.viewer.resources.connection.StopReadingHandler"
                commandId="com.elektrobit.ebrace.viewer.resources.stopReading">
          </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:chartList.menu">
         <menu
               id="chartList.menu.new"
               label="New">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.ResourcesFolder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
         <command
               commandId="org.eclipse.ui.edit.rename"
               icon="icons/rename.png"
               label="Rename"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.resources.model.chart.ChartModel">
                        </instanceof>
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.resources.model.snapshot.SnapshotModel">
                        </instanceof>
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.resources.model.table.TableModel">
                        </instanceof>
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.resources.model.timelineview.TimelineViewModel">
                        </instanceof>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="com.elektrobit.ebrace.viewer.resources.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.selectChannels"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.resources.model.chart.ChartModel">
                        </instanceof>
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.resources.model.snapshot.SnapshotModel">
                        </instanceof>
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.resources.model.table.TableModel">
                        </instanceof>
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.resources.model.timelineview.TimelineViewModel">
                        </instanceof>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="com.elektrobit.ebrace.viewer.resources.separator2"
               visible="true">
         </separator>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.createChartFromTable"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.table.TableModel">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.createTableFromChart"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.chart.ChartModel">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.createEventMapFromTable"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.table.TableModel">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.createEventMapFromChart"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.chart.ChartModel">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.createTableFromEventMap"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.snapshot.SnapshotModel">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.createChartFromEventMap"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.snapshot.SnapshotModel">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="com.elektrobit.ebrace.viewer.resources.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               icon="icons/remove.png"
               style="push">
         </command>
         <separator
               name="com.elektrobit.ebrace.viewer.resources.separator4"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.resources.model.chart.ChartModel">
                        </instanceof>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.connect"
               label="Connect"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate>
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.resources.model.connection.ConnectionModel">
                        </instanceof>
                     </iterate>
                  </with>
                  <test
                        property="com.elektrobit.ebrace.viewer.resources.connection.selectedConnectionsDisconnected">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.disconnect"
               label="Disconnect"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="com.elektrobit.ebrace.viewer.resources.connection.selectedConnectionsConnected">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.edit"
               label="Edit"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <instanceof
                           value="com.elektrobit.ebrace.core.interactor.api.resources.model.connection.ConnectionModel">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.startReading"
               label="Start Reading"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate>
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.datainput.DataInputResourceModel">
                        </instanceof>
                     </iterate>
                     <not>
                        <test
                              property="com.elektrobit.ebrace.viewer.resources.connection.reading">
                        </test>
                     </not>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.elektrobit.ebrace.viewer.resources.stopReading"
               label="Stop Reading"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate>
                        <instanceof
                              value="com.elektrobit.ebrace.core.interactor.api.datainput.DataInputResourceModel">
                        </instanceof>
                     </iterate>
                  </with>
                  <test
                        property="com.elektrobit.ebrace.viewer.resources.connection.reading">
                  </test>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.elektrobit.ebrace.viewer.resources.tester.IsModelEditable"
            id="com.elektrobit.ebrace.viewer.resources.isEditable"
            namespace="com.elektrobit.ebrace.viewer.resources.isEditable"
            properties="isEditable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.elektrobit.ebrace.viewer.resources.tester.BetaActiveStateProvider"
            id="com.elektrobit.ebrace.viewer.resources.beta"
            namespace="com.elektrobit.ebrace.viewer.resources.beta"
            properties="isBetaMode"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.elektrobit.ebrace.viewer.resources.tester.SelectedConnectionsConnected"
            id="com.elektrobit.ebrace.viewer.resources.selectedConnectionsConnected"
            namespace="com.elektrobit.ebrace.viewer.resources.connection"
            properties="selectedConnectionsConnected"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.elektrobit.ebrace.viewer.resources.tester.SelectedConnectionsDisconnected"
            id="com.elektrobit.ebrace.viewer.resources.selectedConnectionsDisconnected"
            namespace="com.elektrobit.ebrace.viewer.resources.connection"
            properties="selectedConnectionsDisconnected"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.elektrobit.ebrace.viewer.resources.SelectedDataInputReading"
            id="com.elektrobit.ebrace.viewer.resources.IsReading"
            namespace="com.elektrobit.ebrace.viewer.resources.connection"
            properties="reading"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.elektrobit.ebrace.viewer.resources.createChartFromTable"
            name="Show In Chart">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.resources.createTableFromChart"
            name="Show In Table">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.resources.createEventMapFromTable"
            name="Show In Snapshot [PRO]">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.resources.createEventMapFromChart"
            name="Show In Snapshot [PRO]">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.resources.createTableFromEventMap"
            name="Show In Table">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.resources.createChartFromEventMap"
            name="Show In Chart">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.resources.connect"
            name="Connect">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.resources.disconnect"
            name="Disconnect">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.resources.edit"
            name="Edit">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.resources.startReading"
            name="Start Reading">
      </command>
      <command
            id="com.elektrobit.ebrace.viewer.resources.stopReading"
            name="Stop Reading">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.elektrobit.ebrace.viewer.resources.createChartFromTable"
            icon="icons/chart_line_add.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.resources.createTableFromChart"
            icon="icons/table_add.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.properties"
            icon="icons/settings.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.resources.createTableFromEventMap"
            icon="icons/table_add.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.resources.createChartFromEventMap"
            icon="icons/chart_line_add.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.resources.createEventMapFromTable"
            icon="icons/snapshot_add.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.resources.createEventMapFromChart"
            icon="icons/snapshot_add.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.resources.selectChannels"
            disabledIcon="icons/channel.png"
            icon="icons/channel.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.resources.connect"
            disabledIcon="icons/ConnectDisabled_16.png"
            icon="icons/connection_connected.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.connection.newconnection"
            icon="icons/connection_disconnected.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.resources.disconnect"
            icon="icons/connection_connected.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.resources.startReading"
            disabledIcon="icons/ConnectDisabled_16.png"
            icon="icons/connection_connected.png">
      </image>
      <image
            commandId="com.elektrobit.ebrace.viewer.resources.stopReading"
            icon="icons/connection_disconnected.png">
      </image>
   </extension>

</plugin>
